#confirm
  %h3
    Olá
    %span Nome do cara
  %p
    Você se cadastrou para o curso
    %strong Nome do curso
    %br
    %br
    %strong Dados para pagamento:
    %small dados para depósito
    Banco: Santander - 033
    %br
    Agencia: 0143
    %br
    Conta Corrente: 13-003554-3
    %br
    Razao Social: FAT - Fundaçao de Apoio a Tecnologia
    %br
    CNPJ: 58.415.092/0001-50
  %ul#steps
    %li
  %hr
  %h3 Resumo do seu cadastro
  %p
    %strong Nome:
    Nome do anima;
    %br
    %strong Email
    dfaspfoijsadfpoaisjdf
    %br
    %strong Curso
    DSpdoiasjdoaijfposij
  %hr
  %p
    %small *essas informações foram enviadas para o @email ('. $values['e-mail'] .')
    %br
    %small *em caso de dúvidas e-mail: faleconosco@fcn.edu.br ou Telefone: (12) 3186 2000
    %br
    %small *pressione ctrl+p para imprimir esse comprovante.