%b= "Signup starts: "
%input.inlineDatePicker{:type => 'text', :name => 'signup_start_date', :size => 10, :value => $edition->signup_start_date }
  #signup_end
    %b= "Signup ends: "
    %input.inlineDatePicker{:type => 'text', :name => 'signup_end_date', :size => 10, :value => $edition->signup_end_date }
  #price
    %b= "Signup investment: "
    %input{:type => 'text', :name => 'signup_cost', :size => 3, :value => $edition->signup_cost }
  #spaces
    %b= "Spaces: "
    %input{:type => 'text', :name => 'signup_spaces', :size => 2, :value => $edition->signup_spaces }