%h2 Inscrição para o curso.
%form{:action => "/ingresso/imprimir/", :method => "post", :id=>'registry'}
  %fieldset#informacoes_pessoais
    %legend Informações pessoais
    %label{:for => "nome"} Nome:
    %input#nome.required{:name => "nome", :type => "text", :value => ""}
      .sexo.required
        %label{:for => "feminino"} Feminino:
        %input#feminino{:checked => "checked", :name => "sexo", :type => "radio", :validate => "required:true", :value => "feminino"}/
        %label{:for => "masculino", :id=>'masc'} Masculino:
        %input#masculino{:name => "sexo", :type => "radio", :value => "masculino"}/
        %label.error{:for => "sexo", :style => "display:none;"} Por favor selecione o sexo.
      %label{:for => "data_nascimento"} Data de nascimento:
      %input#data_nascimento.required.inlineDatePicker.litle{:name => "data_nascimento", :type => "text", :value => ""}
        %div{:id => ""}
          %label{:for => "naturalidade"} Natural de:
          %input#naturalidade0.required.litle{:name => "naturalidade", :type => "text", :value => ""}
            %label{:for => "uf"} Estado de:
            %select#uf0.required.comboboxrequired.litle{:name => "uf", :value => ""}
              %option{:value => "0"} Selecione um Estado
              %option{:value => "AC"} Acre
              %option{:value => "AL"} Alagoas
              %option{:value => "AM"} Amazonas
              %option{:value => "AP"} Amapá
              %option{:value => "BH"} Bahia
              %option{:value => "CE"} Ceará
              %option{:value => "DF"} Distrito Federal
              %option{:value => "ES"} Espírito Santo
              %option{:value => "GO"} Goiás
              %option{:value => "MA"} Maranhão
              %option{:value => "MG"} Minas Gerais
              %option{:value => "MS"} Mato Grosso do Sul
              %option{:value => "MT"} Mato Grosso
              %option{:value => "PA"} Pará
              %option{:value => "PB"} Paraíba
              %option{:value => "PE"} Pernambuco
              %option{:value => "PI"} Piauí
              %option{:value => "PR"} Paraná
              %option{:value => "RJ"} Rio de Janeiro
              %option{:value => "RN"} Rio Grande do Norte
              %option{:value => "RO"} Rondônia
              %option{:value => "RR"} Roraima
              %option{:value => "RS"} Rio Grande do Sul
              %option{:value => "SC"} Santa Catarina
              %option{:value => "SE"} Sergipe
              %option{:value => "SP"} São Paulo
              %option{:value => "TO"} Tocantins
              %option{:value => "AC"} Outra cidade
  %fieldset#documentacao
    %legend Documentação
    %label{:for => "rg"} RG:
    %input#rg.required.litle{:name => "rg", :type => "text", :value => ""}
      %br
        %label{:for => "cpf"} CPF:
        %input#cpf.required.mask-cpf.litle{:name => "cpf", :type => "text", :value => ""}
  %fieldset#contato
    %legend Contato
    %label{:for => "e-mail"} E-mail:
    %input#e-mail.required.email{:name => "e-mail", :type => "text", :value => ""}
      %label{:for => "tel_fixo"} Telefone:
      %input#tel_fixo.required.mask-fone.litle{:name => "tel_fixo", :type => "text", :value => ""}
        %label{:for => "celular"} Celular:
        %input#celular.required.litle{:name => "celular", :type => "text", :value => ""}
  %fieldset#endereco
    %legend Endereço
    %label{:for => "cep"} CEP:
    %input#cep.required.mask-cep.litle{:name => "cep", :type => "text", :value => ""}
      %div
        %label{:for => "rua"} Rua (Av. etc.):
        %input#rua.required{:name => "rua", :type => "text", :value => ""}
          %label{:for => "numero"} Numero:
          %input#numero.required.litle{:name => "numero", :type => "text", :value => ""}
      %label{:for => "complemento"} Complemento:
      %input#complemento{:name => "complemento", :type => "text", :value => ""}
        %div
       	  %label{:for => "endereco_uf"} Estado:
  		  %input.required{:id => "endereco_uf", :name=>"endereco_uf", :type=>"text"}
          %label{:for => "cidade"} Cidade:
       	  %input.required{:id => "cidade", :name=>"cidade", :type=>"text"}
  %fieldset{:id => "situação_especial"}
    %legend Necessidade especial
    %label{:for => ""} Selecione se possui alguma necessidade especial:
    %select#situacao_especial{:name => "situacao_especial", :size => "1"}
      %option{:value => "Nenhuma"} Não possuo
      %option{:value => "Locomotora"} Locomotora
      %option{:value => "Visual"} Visual
      %option{:value => "Auditiva"} Auditiva
      %option{:value => "Outros"} Outros
  %input#inscrever{:name => "inscrever", :type => "submit", :value => "Inscreva-me"}