#waitee h2{font-weight:normal;}

#waitee div.failure, #waitee div._success{border-top:1px solid red;border-bottom:1px solid red;background:none!important;color:#ff0000;padding:10px}
#waitee div._success{border-color:green;color:green;}
/*form*/
#waitee form div label{display:block;font-size:1.2em;margin-top:5px;cursor:pointer;}
#waitee form div input{padding:5px;}
#waitee form #submit, #registry #inscrever{background:#0883BE;border:none;color:#fff;cursor:pointer; font-size:1.2em; margin-top:10px;padding:10px;}
#waitee form #submit:hover, #registry #inscrever:hover;{background:#003659;}

#registry{margin-top:30px;}
		#registry fieldset{border-top:#ccc 1px solid;margin:10px;padding:10px 0;position:relative;}
			#registry fieldset label{cursor:pointer;display:block;padding:0 10px;}
			#registry fieldset input, #registry fieldset select{margin:5px 0;padding:5px;margin-left:10px;width:300px;}
				
			#registry fieldset .litle{width:200px;}
			#registry fieldset legend{font-size:16px;position:relative;top:-5px;}
		#registry #filiacao fieldset{float:left;width:299px;}
		#registry fieldset select{margin-left:10px;}
		#registry fieldset div.sexo{border:1px dotted #ddd;border-left:none; border-right:none;margin:10px 0;padding:10px 10px;}
			#registry fieldset div.sexo label{display:inline;padding:0}
				#registry fieldset div.sexo label#masc{border-left:1px dotted #ddd; margin-left:10px; padding-left:15px;}
			#registry fieldset div.sexo input{margin:0;width:15px;border:1px solid #000;}
		#registry #inscricao span.valor{color:green;font-weight:bold;display:block; font-size:16px; padding:10px;}
		#registry #inscrever{clear:both;display:block;padding:10px;margin:20px;}
		