#waitee h2{font-weight:normal;}

div.failure, #waitee div._success{border-top:1px solid red;border-bottom:1px solid red;background:none!important;color:#ff0000;padding:10px}
div.success{border-color:green;color:green;}
/*form*/
#waitee form div label{display:block;font-size:1.2em;margin-top:5px;cursor:pointer;}
#waitee form div input{padding:5px;}
#waitee form #submit, #registry #inscrever, #confirm #submit {background:#0883BE;border:none;color:#fff;cursor:pointer; font-size:1.2em; margin-top:10px;padding:10px;}
#waitee form #submit:hover, #registry #inscrever:hover, #confirm #submit:hover {background:#003659;}

#registry{margin-top:30px;}
		#registry fieldset{border-top:#ccc 1px solid;margin:10px;padding:10px 0;position:relative;}
			#registry fieldset label{cursor:pointer;display:block;padding:0 10px;}
			#registry fieldset input, #registry fieldset select, #waitee form div input{margin:5px 0;padding:5px;margin-left:10px;width:300px;}
			#registry fieldset .litle{width:200px;}
			#registry fieldset legend{font-size:16px;position:relative;top:-5px;}
		#registry #filiacao fieldset{float:left;width:299px;}
		#registry fieldset select{margin-left:10px;}
		#registry fieldset div.sexo{border:1px dotted #ddd;border-left:none; border-right:none;margin:10px 0;padding:10px 10px;}
			#registry fieldset div.sexo label{display:inline;padding:0}
				#registry fieldset div.sexo label#masc{border-left:1px dotted #ddd; margin-left:10px; padding-left:15px;}
			#registry fieldset div.sexo input{margin:0;width:15px;border:1px solid #000;}
		#registry #inscricao span.valor{color:green;font-weight:bold;display:block; font-size:16px; padding:10px;}
		#registry #inscrever{clear:both;display:block;padding:10px;margin:20px;}
		label.error{color:#ff0000;font-weight:bold;}
			label.error:before{content:'\230A';}
			
#confirm{border-top:1px dotted #ccc;margin-top:20px;clear:both;}
	#confirm h2, #confirm h3{font-weight:normal;}
	#confirm hr{border-color:#ccc;}
	#confirm #steps{list-style:none;}
		#confirm #steps li{
			-webkit-border-radius: 180px;
			-moz-border-radius: 180px;
			border-radius: 180px;
			background:#FD9409;
			color:#fff;
			float:left;
			margin:10px 5px 20px 5px;
			height:110px;
			text-align:center;
			width:110px;
		}
		#confirm #steps li.info, #confirm #transfer label{
			background: none repeat scroll 0 0 transparent;
    		color: #444444;
    		font-family: Georgia;
    		font-family: Georgia;
    		font-size: 18px;
    		font-style: italic;
    		margin: 30px 20px 0 10px;
		}
		#confirm #steps li.one{background-color:;}
		#confirm #steps li.due{background-color:#7BB247;}
		#confirm #steps li.tre{background-color:#009CEA;}
		#confirm #steps li span{
			display: block;
			font-family: Georgia;
			font-size: 14px;
			font-style: italic;
			font-weight: bold;
			margin-top: 10px;
		}
		#confirm #steps li p{
			font-size: 11px;
			line-height: 14px;
			margin: 0 auto;
			width: 85px;
		}
		#confirm #payment-confirmation{background-color:#f2f2f2;clear:both;padding:10px;margin:10px 10px 20px 10px;}
	#confirm #text-paste{background-color:#f2f2f2;display: none;margin:20px 10px 20px 10px;}
		#confirm #text-paste label{float:left;line-height:24px;text-align:center;}
		#confirm #text-paste textarea{padding:10px;margin:20px 0;}
	#confirm #payment-confirmation a{font-size:11px;}
	#confirm #payment-confirmation small{font-size:10px; font-style: italic; }
	#confirm hr{display:block;clear:both;}