._success
  = "Você está na lista de espera do curso: <strong>$post->post_title</strong><br/>"
  = "Assim que uma classe estiver disponível você será avisado em:<strong>$waitee->person_email</strong>."